.banner {
  background: linear-gradient(135deg, #111, #444);
}
.card-img-top {
    height: 550px; 
    object-fit: cover;
    width: 100%;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}